@model List<Szertar.Dal.Dto.ItemHeader>
@{

	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	@* 2019-ben nem használunk táblázatot layoutra. *@

	<div class="table">
		<div class="row">
				<div class="col-sm-4">
					Név
				</div>
				<div class="col-sm-4">
					Bérelhető/Készlet
				</div>
				<div class="col-sm-4"></div>
		</div>
			

				@foreach (var item in Model)
				{
					<div class="row">
						<div class="col-sm-4">
							@item.Name
						</div>
						<div class="col-sm-4">
							@item.AvailableCount&nbsp;/&nbsp;@item.Stock
						</div>
						<div class="col-sm-4">
							@* TODO: Megadni, hogy postoláskor hova küldje az adatokt *@
							<form method="post" asp-controller="Home" asp-action="AddToCart">
								<input type="hidden" />
								@* TODO: min / max TODO: szerver oldali validáció *@
								<input type="number" name="count">
								@*<input type="image" name="submitButton" alt="Submit Form" src="~/vendor/img/cart.png" height="32" width="32">*@
								<button type="submit">
									<img src="~/vendor/img/cart.png" alt="AddToCart" height="32" width="32" />
								</button>
							</form>
						</div>
					</div>
				}
			
		</div>
</div>
